/*
#screen{
    background-color: rgb(0, 0, 0);
    height: 300px;
    width: 80%;
    
}

#player{
    background-color:blanchedalmond;
    height: 20px;
    width: 60px;
   transition: 0.2s;
    margin: 0 0 0 0;
}
*/
